html {
    scroll-behavior: smooth;
}

body {
    background-color: #0a192f;
    overflow-x: hidden;
}

.main {
    width: 100%;
    height: 100%;
}

.flexbox {
    display: flex;
}

.left-panel {
    display: block;
    position: sticky;
    height: 50rem;
    width: 40%;
    top: 13%;
    left: 6.5%;
}

.right-panel {
    height: auto;
    width: 40%;
    margin-left: 8%;
}

.col-sobre-mim {
    margin-top: 17.4%;
    text-align: justify;
}

.nav {
    position: relative;
    left: 10%;
    top: 50%;
    margin-top: 5%;
}

.nav-link {
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    color: #64ffdb80;
    transition: transform .2s ease-in;
}

.nav-item {
    display: inline-flex;
}

.footer {
    position: fixed;
    height: 3.2rem;
    width: 22rem;
    bottom: 10%;
    left: 6.5%;
}

.lp-ola {
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    color: #64FFDA;
}

.lp-nome {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #e6f1ff;
    white-space: nowrap;
    font-family: "Roboto Mono", monospace;
    font-size: 2.8rem;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    margin-top: -4%;
}

.lp-cargo {
    white-space: nowrap;
    margin-top: -1rem;
    font-family: "Roboto Mono", monospace;
    font-size: 1.2rem;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    color: #e6f1ff;
}

.lp-desc {
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    color: #8892b0;
}

.p-rp {
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    color: #8892b0;
}

.p-rp-l {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 5%;
    text-align: justify;
}

.p-rp-e {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: start;
    color: white;
}

.p-rp-p {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

.li-social {
    list-style-type: none;
    display: inline-table;
}

.bi {
    position: relative;
    font-size: 2rem;
    margin-left: 1.2rem;
    color: #8892b0;
    display: inline-block;
    transition: transform .3s ease-out;
}

.bi-file-earmark-person {
    left: -2.8%;
}

.svg-credly {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    fill: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #3869b3;
    z-index: -100;
}

.highlight {
    color: #64FFDA;
    transition: transform .3s ease-in-out;
}

.emoji_flag {
    margin-right: 0.2rem;
    font-size: 1.2rem;
    font-family: "Noto Color Emoji", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 0.5;
    transition: transform .3s ease-out;
}

.d-exp {
    box-shadow: 8px 8px 0 0px #8892b0;
    border: 1px solid #8892b0;
    border-radius: 25px 0px 0px 0px;
    margin-top: 2rem;
}

.d-proj {
    box-shadow: 8px 8px 0 0px #8892b0;
    border: 1px solid #8892b0;
    border-radius: 25px 0px 0px 0px;
    margin-top: 2rem;
}

.titles {
    display: none;
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    color: #64ffdb80;
}

section {
    margin-top: 18rem;
}

@media (width < 1200px) {
    header {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer {
        position: relative;
        height: 3.2rem;
        width: 20rem;
        left: -1.2rem;
        bottom: 0rem;
    }
    .nav-link {
        display: none;
    }
    .flexbox {
        display: contents;
    }
    .left-panel {
        top: 13%;
        display: inline-flex;
        position: relative;
        height: 40%;
        width: 100%;
    }
    .right-panel {
        left: 6.5%;
        margin-left: 0%;
        align-self: center;
        position: relative;
        display: flex;
        height: 100%;
        width: 80%;
    }
    .titles {
        display: flex;
        font-family: "Roboto Mono", monospace;
        font-size: 1rem;
        color: #64ffdb80;
    }
}

@media (width < 600px) {
    .lp-nome {
        font-family: "Roboto Mono", monospace;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 800;
        color: #e6f1ff;
        margin-top: -4%;
    }

    .footer {
        position: relative;
        height: 3.2rem;
        width: 20rem;
        left: -1.2rem;
        bottom: 0rem;
    }
    .nav-link {
        display: none;
    }
    .flexbox {
        display: contents;
    }
    .left-panel {
        top: 13%;
        left: 6.5%;
        float: left;
        display: inline-flex;
        position: relative;
        height: 50%;
        width: 100%;
    }
    .right-panel {
        left: 6.5%;
        margin-left: 0%;
        margin-top: 4%;
        position: relative;
        display: flex;
        height: 100%;
        width: 90%;
    }
}

@media (width < 430px) {
    .left-panel {
        height: 90%;
    }
    ::-webkit-scrollbar-thumb {
        background: transparent; 
    }
    ::-webkit-scrollbar-thumb:hover {
        background: transparent; 
    }
}

@media (width < 400px) {
    .lp-nome {
        font-family: "Roboto Mono", monospace;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 800;
        color: #e6f1ff;
        margin-top: -4%;
    }
    .footer {
        position: relative;
        height: 3.2rem;
        width: 20rem;
        left: -1.2rem;
        bottom: 0rem;
    }
    .nav-link {
        display: none;
    }
    .flexbox {
        display: contents;
    }
    .left-panel {
        top: 13%;
        left: 6.5%;
        display: inline-flex;
        position: relative;
        height: 80%;
        width: 100%;
    }
    .right-panel {
        left: 6.5%;
        margin-left: 0%;
        margin-top: 4%;
        position: relative;
        display: flex;
        height: 100%;
        width: 90%;
    }
}

canvas {
    display: block;
}